<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/styles/bootstrap.min.css' />
    <link rel='stylesheet' href='/styles/main.css' />

  </head>
  <body>
    {{> nav}}
    {{{body}}}

  
      <footer>
          <p>&copy; 2016 Company, Inc.</p>
      </footer>

    <script src="/Scripts/jquery-1.9.1.min.js"></script>
    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Scripts/masonry.pkgd.min.js"></script>
    <script src="/Scripts/imagesloaded.pkgd.min.js"></script>
    <script src="/Scripts/Main.js"></script>

  </body>
</html>
