<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/styles/bootstrap.min.css' />
    <link rel='stylesheet' href='/styles/main.css' />
</head>

  <body>
    {{> nav}}
    {{{body}}}

  
      <footer>
          <p>&copy; 2016 Company, Inc.</p>
      </footer>

    <script src="/Scripts/jquery-1.9.1.min.js"></script>
    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Scripts/masonry.pkgd.min.js"></script>
    <script src="/Scripts/imagesloaded.pkgd.min.js"></script>
    <script src="/Scripts/Main.js"></script>

  </body>
</html>
