$blue: #3c8ce4;
$yellow: #FDC167;
$pink: #ff5f6b;

@font-face {
    font-family: 'BariolRegular';
    src: url('../fonts/BariolRegular.woff') format('woff'), url('../fonts/BariolRegular.ttf') format('truetype'), url('../fonts/BariolRegular.eot') format('embedded-opentype');
}

body {
    background-color: #f2f2f0;
    font-family: BariolRegular;

    &.modal-open {
        .navbar-default {
            .container {
                padding-right: 23px;
                padding-left: 7px;
            }
        }
    }
}

.filter-check {
  border-radius: 2px;
  overflow: hidden;
  white-space: nowrap;
  background-color: #eee;
  height: 30px;
  color: #fff;
  position: relative;
  margin-bottom: 7px;
  .filter-name {
    display: inline-block;
    height: 100%;
    width: calc(100% - 62px);
    span {
      display:block;
      padding: 6px 0;
      text-align: center;
      color: #777;
    }
  }
  label {
    height: 100%;
    width: 30px;
    display:inline-block;
    z-index: 11;
    position: relative;
    &:hover {
      cursor: pointer;
    }
    span {
      text-align: center;
      display:block;
    }
  }
  input {
    display: none;
  }
  .filter-include, .filter-exclude {
      span  {
          &:after {
            font-size: 19px;
            color: #fff;
            font-size: 20px;
          }
      }
  }
  .filter-include {
    background-color: $blue;
    float:left;
    border-right: 1px solid #fff;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    span {
        &:after {
            content: "+";
        }
    }
  }
  .filter-exclude {
    background-color: rgba(194,59,34,1);
    float: right;
    border-left: 1px solid #fff;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    span {
        &:after {
            content:"-";
        }
    }
  }
  .overlay {
    width: 100%;
    height: 40px;
    position: absolute;
    top: 0;
    animation: cubic-bezier(.36,.01,.44,.96);
    transition: 0.8s;
    z-index: 10;
    span {
      padding: 6px 0;
      display:block;
      text-align: center;
    }
  }
  .green-back {
    background-color: #8bb7e2;
    left: -100%;
    span {
      padding-right: 62px;
    }
  }
  .red-back {
    background-color: #cf6450;
    right: -100%;
    span {
      padding-left: 62px;
    }
  }
  .input-excluded:checked ~ .red-back {
    right: 31px;
  }
  .input-included:checked ~ .green-back {
    left: 31px;
  }
.input-included:checked ~ .filter-include {
    span {
        &:after {
            content:"x";
        }
    }
}
.input-excluded:checked ~ .filter-exclude {
    span {
        &:after {
            content:"x";
        }
    }
}
}

.no-pad {
    padding: 0 !important;
}

label {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

@keyframes star {
    0%, 15% {
        font-size: 0;
    }
}

.grid {
    overflow: hidden;
    margin: 0 auto;

    .grid-item, .grid-sizer {
        width: 300px;
    }
}

.recipe-container {
    margin-top: 150px;

    .tile {
        padding-bottom: 15px;
        padding-top: 5px;
        list-style: none;

        .tile-background {
            background-color: #fff;
            height: 100%;
            width: 100%;
            max-width: 275px;
            border-radius: 3px;
            margin: 0 auto;
            overflow: hidden;
            position: relative;

            &:hover {
                .image-overlay-top {
                    top: 0;
                }
            }

            &.alt-background {
                background-color: $blue;
                color: #fff;
            }

            .image-overlay-top {
                position: absolute;
                height: 35px;
                top: -35px;
                width: 100%;
                background-color: rgba(255,255,255, 0.6);
                color: #333;
                text-align: center;
                animation: cubic-bezier(.36,.01,.44,.96);
                transition: 0.8s;

                h5 {
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }

            > img {
                max-width: 275px;
                width: 100%;
            }

            h3 {
                display: inline-block;
            }

            .tile-desc {
                color: #555;
                .recipe-times {
                    margin-top: 10px;
                    font-size: 13px;
                    span {
                        font-size: 11px;
                        color: $blue;
                    }
                }
                padding: 0 15px;

                p {
                    font-size: 12px;
                    margin-top: 10px;
                }

                h5 {
                    font-weight: bold;
                    font-size: 13px;
                    margin-bottom: 5px;
                    text-align: center;
                }
                .ingredients-list {
                    text-transform: capitalize;
                    .ingredient-name {
                        padding-right: 5px;
                        &:after {
                            content: ",";
                        }
                        &:last-of-type {
                            &:after {
                                content: "";
                            }
                        }
                    }
                }
                ul {
                    padding: 0;

                    li {
                        width: 48%;
                        display: inline-block;
                        list-style: none;
                        margin-bottom: 5px;
                            span {
                                margin-right: 5px;
                         }
                    }
                }
            }

            .tile-footer {
                width: 100%;
                padding-left: 0;
                list-style: none;
                position: relative;
                height: 30px;

                .heart-total {
                    padding-left: 15px;
                    padding-top: 6px;
                    display: inline-block;
                    color: #777;

                    .glyphicon {
                        padding-right: 3px;
                        color: $pink;
                        opacity: 0.6;
                    }
                }

                label {
                    width: 35px;
                    position: absolute;
                    right: 0;
                    margin-bottom: 0;
                    text-align: center;
                    color: #aab8c2;
                    cursor: pointer;
                    overflow: hidden;
                    font-size: 22px;
                    line-height: 20px;
                    padding: 3px 0 5px 0;

                    span {
                        display: block;
                    }

                    .button-like {
                        font-size: 2em;
                        color: #aab8c2;
                        align-self: center;
                        line-height: 10px;
                    }
                }

                input[type=checkbox]:checked + .button-like {
                    border-bottom-right-radius: 5px;
                    color: $pink;
                    will-change: font-size;
                    -moz-animation: star 0.4s cubic-bezier(.17, .89, .32, 1.49);
                    -o-animation: star 0.4s cubic-bezier(.17, .89, .32, 1.49);
                    -webkit-animation: star 0.4s cubic-bezier(.17, .89, .32, 1.49);
                    animation: star 0.4s cubic-bezier(.17, .89, .32, 1.49);
                }
            }
        }
    }
}


.navbar-default {
    margin-bottom: 0 !important;
    padding: 50px 0;
    background: none;
    border-bottom: none;
    animation: cubic-bezier(.36,.01,.44,.96);
    transition: 0.4s;

    .navbar-header {
        .navbar-brand {
            text-align: center;
            font-weight: bold;
            display: block;
            float: none !important;
            width: 200px;
            margin: 0 auto;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 20px;
            line-height: 20px;
        }

        .nav-filters {
            float: left;
        }

        .nav-menu {
            float: right;
        }

        .nav-menu, .nav-filters {
            display: block;
            padding: 15px 0;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 14px;
            color: #777;
            font-weight: bold;
            line-height: 20px;
        }
    }

    &.nav-scrolled {
        background-color: rgba(255,255,255,1);
        padding: 0;
        border-bottom: 1px solid #777;
    }
}

.rightModal {
    .modal-dialog {
        float: right;

        .modal-content {
            .modal-body {
                max-height: calc(100vh - 71px);
            }
        }
    }
}

.leftModal {

    .modal-dialog {
        float: left;

        .modal-content {

            .modal-body {
                max-height: calc(100vh - 125px);
                .nav-pills {
                    width: 100%;
                    font-size: 0;
                    margin-bottom: 10px;
                    li {
                        width: 50%;
                        text-align: center;
                        font-size: 14px;
                        margin-left: 0 !important;
                        a {
                        border-radius: 0;
                        border: 1px solid #777;
                        }
                        &:first-of-type {
                            a {
                            border-top-left-radius: 2px;
                            border-bottom-left-radius: 2px;
                            }
                        }
                        &:last-of-type {
                            a {
                            border-top-right-radius: 2px;
                            border-bottom-right-radius: 2px;
                            }
                        }
                        &.active {
                                a {
                                    border: 1px solid $blue;
                                    color: #fff !important;
                                }
                        }
                    }
                }
                .panel-body {
                    height: calc(100vh - 192px);
                    overflow-y: scroll;
                }
            }
        }
    }
}

.rightModal, .leftModal {
    padding-right: 0 !important;
    font-family: BariolRegular;

    .modal-dialog {
        width: 50%;
        height: 100%;
        margin: 0;
        padding: 0;


        .modal-content {
            height: auto;
            min-height: 100%;
            border-radius: 0;
            border: none;
            padding: 10px;
            color: #777;
            padding: 0;

            .modal-body {
                

                a {
                    color: #777;

                    &:hover {
                        text-decoration: none;

                        span {
                            color: $pink;
                        }
                    }
                }

                h4 {
                    padding: 15px 0;
                    border-bottom: 1px solid #e5e5e5;
                    margin: 0;
                    font-size: 1.3em;

                    span {
                        padding-right: 15px;
                        color: $blue;
                        animation: cubic-bezier(.36,.01,.44,.96);
                        transition: 0.4s;
                    }
                }

                .input-group {
                    padding-bottom: 20px;
                    border-bottom: 1px solid #e5e5e5;

                    .btn {
                        background-color: $blue;
                        color: #fff;
                        border: 1px solid $blue;
                    }
                }
            }

            .modal-header {
                border-bottom: none;

                .close {
                    margin-top: 7px;
                    opacity: 1;
                    border-radius: 2px;
                    line-height: 16px;
                    color: #777;
                    font-size: 14px;
                    position: relative;

                    &:after {
                        content: "x";
                        padding-left: 7px;
                        font-size: 25px;
                        color: $blue;
                    }

                    span {
                        position: absolute;
                        font-size: 33px;
                        color: $blue;
                        top: -4px;
                        right: 0;
                    }
                }

                .modal-title {
                    text-transform: uppercase;
                }
            }
            .modal-footer {
                padding: 12px;
                .filter-button {
                    background-color: $blue;
                    color: #fff;
                    padding: 10px;
                    width: 50%;
                }
                .clear-button {
                    border: none;
                    color: #777;
                    padding: 12px;
                    width: 48%;
                }
            }
        }
    }

    &.modal-animate {

        &.leftModal, &.rightModal {
            opacity: 1;
            transition: transform 0.6s ease-out;

            .modal-dialog {
                transform: translate(0,0) !important;
                transition: transform 1s ease-out !important;

                .modal-content {
                    transition: 0.6s ease-in-out;
                }
            }
        }

        &.leftModal {
            .modal-content {
                left: -100% !important;
            }

            &.in {
                .modal-content {
                    left: 0% !important;
                }
            }
        }

        &.rightModal {
            .modal-content {
                right: -100% !important;
            }

            &.in {
                .modal-content {
                    right: 0% !important;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .navbar > .container .navbar-brand {
        margin-left: auto !important;
    }
}

@media (min-width: 1200px) {
    .rightModal, .leftModal {
        .modal-dialog {
            width: 30%;
        }
    }

    .totalPriceSection {
        padding: 0 60px !important;
    }
}
@media (max-width: 991px) {
    .rightModal, .leftModal {
        .modal-dialog {
            width: 40%;
        }
    }

    .image-overlay-top {
        top: 0 !important;
    }
}

@media (max-width: 767px) {
    .navbar-brand {
        font-size: 16px;
    }

    .rightModal, .leftModal {
        .modal-dialog {
            width: 95%;
        }
    }

    .modal-open {
        .navbar-default {
            .container {
                padding-right: 15px;
                padding-left: 15px;
            }
        }
    }

    .nav-menu, .nav-filters {
        font-size: 12px;
    }
}