$blue: #3c8ce4;
$yellow: #FDC167;
$pink: #ff5f6b;

@font-face {
    font-family: 'BariolRegular';
    src: url('../fonts/BariolRegular.woff') format('woff'), url('../fonts/BariolRegular.ttf') format('truetype'), url('../fonts/BariolRegular.eot') format('embedded-opentype');
}

body {
    background-color: #f2f2f0;
    font-family: BariolRegular;
}


.no-pad {
    padding: 0 !important;
}

label {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

@keyframes star {
    0%, 15% {
        font-size: 0;
    }
}

.grid {
    overflow: hidden;
    margin: 0 auto;
}

.grid-item, .grid-sizer {
    width: 300px;
}

.recipe-container {
    margin-top: 150px;

    .tile {
        padding-bottom: 15px;
        padding-top: 5px;
        list-style: none;

        .tile-background {
            background-color: #fff;
            height: 100%;
            width: 100%;
            max-width: 275px;
            border-radius: 3px;
            margin: 0 auto;
            overflow: hidden;
            position: relative;

            &:hover {
                .image-overlay-top {
                    top: 0;
                }
            }

            &.alt-background {
                background-color: $blue;
                color: #fff;
            }

            .image-overlay-top {
                position: absolute;
                height: 35px;
                top: -35px;
                width: 100%;
                background-color: rgba(255,255,255, 0.6);
                color: #333;
                text-align: center;
                animation: cubic-bezier(.36,.01,.44,.96);
                transition: 0.8s;

                h5 {
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }

            img {
                max-width: 275px;
                width: 100%;
            }

            h3 {
                display: inline-block;
            }

            .tile-desc {
                padding: 0 15px;

                p {
                    font-size: 12px;
                    margin-top: 10px;
                }

                h5 {
                    font-weight: bold;
                    font-size: 13px;
                    margin-bottom: 5px;
                    text-align: center;
                }
            }

            .tile-footer {
                width: 100%;
                padding-left: 0;
                list-style: none;
                position: relative;
                height: 30px;

                .heart-total {
                    padding-left: 15px;
                    padding-top: 6px;
                    display: inline-block;
                    color: #777;

                    .glyphicon {
                        padding-right: 3px;
                        color: $pink;
                        opacity: 0.6;
                    }
                }

                label {
                    width: 35px;
                    position: absolute;
                    right: 0;
                    margin-bottom: 0;
                    text-align: center;
                    color: #aab8c2;
                    cursor: pointer;
                    overflow: hidden;
                    font-size: 22px;
                    line-height: 20px;
                    padding: 3px 0 5px 0;

                    span {
                        display: block;
                    }

                    .glyphicon {
                    }

                    .button-like {
                        font-size: 2em;
                        color: #aab8c2;
                        align-self: center;
                        line-height: 10px;
                    }
                }

                input[type=checkbox]:checked + .button-pin {
                    background-color: red;
                    color: #fff;
                    border-bottom-left-radius: 5px;
                }

                input[type=checkbox]:checked + .button-like {
                    border-bottom-right-radius: 5px;
                    color: #ff5f6b;
                    will-change: font-size;
                    -moz-animation: star 0.4s cubic-bezier(.17, .89, .32, 1.49);
                    -o-animation: star 0.4s cubic-bezier(.17, .89, .32, 1.49);
                    -webkit-animation: star 0.4s cubic-bezier(.17, .89, .32, 1.49);
                    animation: star 0.4s cubic-bezier(.17, .89, .32, 1.49);
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .image-overlay-top {
        top: 0 !important;
    }
}

.navWrapper {
    background-color: $blue;
    color: #fff;
}

.navbar-default {
    margin-bottom: 0 !important;
    padding: 50px 0;
    background: none;
    border-bottom: none;
    animation: cubic-bezier(.36,.01,.44,.96);
    transition: 0.4s;
}

.navbar-brand {
    text-align: center;
    font-weight: bold;
    display: block;
    float: none !important;
    width: 200px;
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    line-height: 20px;
}

@media (min-width: 768px) {
    .navbar > .container .navbar-brand {
        margin-left: auto !important;
    }
}

.nav-filters {
    float: left;
}

.nav-menu {
    float: right;
}

.nav-menu, .nav-filters {
    display: block;
    padding: 15px 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    color: #777;
    font-weight: bold;
    line-height: 20px;
}

.nav-scrolled {
    background-color: rgba(255,255,255,1);
    padding: 0;
    border-bottom: 1px solid #777;
}

.rightModal {
    padding-right: 0 !important;

    .modal-dialog {
        width: 50%;
        height: 100%;
        margin: 0;
        padding: 0;
        float: right;

        .modal-content {
            height: auto;
            min-height: 100%;
            border-radius: 0;
            border: none;
            padding: 10px;
            color: #777;

            .modal-body {
                max-height: calc(100vh - 71px);
                overflow-y: auto;

                a {
                    color: #777;

                    &:hover {
                        
                        text-decoration: none;

                        span {
                            color: $pink;
                        }
                    }
                }

                h4 {
                    padding: 15px 0;
                    border-bottom: 1px solid #e5e5e5;
                    margin: 0;
                    font-family: BariolRegular;
                    font-size: 1.3em;

                    span {
                        padding-right: 15px;
                        color: $blue;
                        animation: cubic-bezier(.36,.01,.44,.96);
                        transition: 0.4s;
                    }
                }

                .input-group {
                    padding-bottom: 20px;
                    border-bottom: 1px solid #e5e5e5;

                    .btn {
                        background-color: $blue;
                        color: #fff;
                        border: 1px solid $blue;
                    }
                }
            }
        }
    }
}

.leftModal {
    padding-right: 0 !important;

    .modal-dialog {
        width: 50%;
        height: 100%;
        margin: 0;
        float: left;
        padding: 0;

        .modal-content {
            height: auto;
            min-height: 100%;
            border-radius: 0;
            border: none;

            .modal-body {
                max-height: calc(100vh - 125px);
                overflow-y: scroll;

                h4 {
                    font-family: BariolRegular;
                    font-size: 1.5em;
                }
            }
        }
    }
}

.modal-header {
    border-bottom: none;

    .close {
        margin-top: 7px;
        opacity: 1;
        border-radius: 2px;
        line-height: 16px;
        color: #777;
        font-size: 14px;
        position: relative;
        &:after {
            content: "x";
            padding-left: 7px;
            font-size: 25px;
            color: $blue;
        }

        span {
            position: absolute;
            font-size: 33px;
            color: $blue;
            top: -4px;
            right: 0;
        }
    }

    .modal-title {
        font-family: BariolRegular;
        text-transform: uppercase;
    }
}

.modal-animate {
    &.rightModal {
        opacity: 1;
        transition: transform 0.6s ease-out;

        .modal-dialog {
            transform: translate(0,0) !important;
            transition: transform 1s ease-out !important;

            .modal-content {
                right: -100% !important;
                transition: 0.6s ease-in-out;
            }
        }
    }
}

.modal-animate {
    &.leftModal {
        opacity: 1;
        transition: transform 0.6s ease-out;

        .modal-dialog {
            transform: translate(0,0) !important;
            transition: transform 1s ease-out !important;

            .modal-content {
                left: -100% !important;
                transition: 0.6s ease-in-out;
            }
        }
    }
}

.modal-animate.in.rightModal {
    .modal-dialog {
        transform: translate(0,0);

        .modal-content {
            right: 0% !important;
        }
    }
}

.modal-animate.in.leftModal {
    .modal-dialog {
        transform: translate(0,0);

        .modal-content {
            left: 0% !important;
        }
    }
}

.modal-open {
    .navbar-default {
        .container {
            padding-right: 23px;
            padding-left: 7px;
        }
    }
}


@media (max-width: 767px) {
    .navbar-brand {
        font-size: 16px;
    }

    .rightModal, .leftModal {
        .modal-dialog {
            width: 95%;
        }
    }

    .modal-open {
        .navbar-default {
            .container {
                padding-right: 15px;
                padding-left: 15px;
            }
        }
    }
    .nav-menu, .nav-filters {
        font-size: 12px;
    }
}

@media (min-width: 992px) {
    .rightModal, .leftModal {
        .modal-dialog {
            width: 40%;
        }
    }
}

@media (min-width: 1200px) {
    .rightModal, .leftModal {
        .modal-dialog {
            width: 20%;
        }
    }

    .totalPriceSection {
        padding: 0 60px !important;
    }
}
